---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { Icon } from "astro-icon/components";
import MainCard from "@/components/MainCard.astro";
import FeatureCard from "@/components/mdx/FeatureCard.astro";
import GitHubStats from "@/components/mdx/GitHubStats.astro";
import { Image } from "astro:assets";
import myProminentImage from "../assets/homeprofile(3).png";
---

<BaseLayout title="Home">
  <MainCard
    title="Welcome to my little world!"
    description="This is a time machine for recording joys and sorrows of daily life, past times and academic research about physics."
    infoIcon="lucide:info"
  >
    <Image
      src={myProminentImage}
      alt="Prominent Home Page Image"
      class="w-full h-auto object-contain mb-8"
      sizes="(max-width: 768px) 100vw, 80vw"
    />
    <div class="space-y-8 relative">
      <!-- Hero Section -->
      <section class="py-6 relative">
        <div class="flex flex-col items-center text-center">
          <h1
            class="text-4xl font-bold mb-4 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent leading-loose"
          >
            🌟 About Myself
          </h1>
          <p class="text-xl text-base-content/80 max-w-3xl mb-8">
            Now I'm an undergraduate student in Wuhan University (WHU) majoring in physics. And I will persue my Ph.D.
            degree in Institute of physics, Chinese Acadamy of Science (IOP,CAS). I'm studying theoretical physics,
            especially in condensed matter thoery and quantum many body physics. Actually, initially I focus on
            non-Hermitian physics in WHU and have done a lot of work about non-Hermitian Bloch Oscillation both in
            theory and acoustic crystal experinments. Thus I also hope to explore some non-Hermitian effects in real
            condensed matter materials to observe skin effect, exceptional points, complex energy spectrum and novel
            wavepacket dynamics. But now my first project in IOP is about magnetism from interesting molecular orbitals.
          </p>
          <div class="flex flex-wrap gap-4 justify-center">
          </div>
        </div>
      </section>

      <!-- Features Section -->
      <section class="py-6">
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="lucide:snowflake" class="w-6 h-6 text-primary" />
          <span>Contents</span>
          <a href="/blog" class="btn gap-2 btn-shine-effect  bg-[#abdafe] text-white hover:bg-[#077fff]">
              <Icon name="lucide:book-open" class="w-5 h-5" />
              <span>Explore Blog</span>
            </a>
        </h2>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
          <FeatureCard
            title="Past times"
            description="About my high school and WHU"
            icon="lucide:lollipop"
            color="oklch(0.7 0.2 30)"
          />

          <FeatureCard
            title="The physics I have learned"
            description="The physics courses I studied during my undergraduate years"
            icon="lucide:wheat"
            color="oklch(0.65 0.2 280)"
          />

          <FeatureCard
            title="Notes during research"
            description="My notes when studying non-Hermitian physics and condensed matter theory."
            icon="lucide:cannabis"
            color="oklch(0.6 0.2 160)"
          />

          <FeatureCard
            title="Publications"
            description="I hope I will have"
            icon="lucide:cherry"
            color="oklch(0.6 0.2 200)"
          />

          <FeatureCard
            title="Something Interesting"
            description="Some interesting thoughts related to physics or daily life"
            icon="lucide:puzzle"
            color="oklch(0.8 0.2 80)"
          />

          <FeatureCard
            title="Hobbies"
            description="My hobbies that I haven't engaged in for a long time, such as painting"
            icon="lucide:palette"
            color="oklch(0.7 0.2 10)"
          />
        </div>
      </section>
    </div>

    <section class="py-6">
        <h2 class="text-2xl font-bold mb-6 flex items-center gap-2">
          <Icon name="material-symbols:alternate-email" class="w-6 h-6 text-primary" />
          <span>Thanks</span>
        </h2>
        Thanks to EveSunMaple for providing the website template.
        <a href="https://github.com/EveSunMaple/Frosti" target="_blank" class="btn btn-outline gap-2">
              <Icon name="lucide:github" class="w-3 h-3" />
              <span>Star on EveSunMaple's GitHub</span>
            </a>
      </section>
    </div>
  </MainCard>
</BaseLayout>
